<h3>本色一覧</h3>
<div class="book-cards">
  <% @books.each do |book| %>
    <div class="book-card" style="border-left: 8px solid <%= book.color_code %>;">
      <h3><%= book.title %></h3>
      <div class="color-info">
        <div class="color-sample" style="background-color: <%= book.color_code %>;"></div>
      </div>
      <p class="comment"><%= truncate(book.comment, length: 20) %></p>
    </div>
  <% end %>
</div>

<%= link_to "ホームに戻る", root_path %> 

<%# span class="color-code"><%= book.color_code %></span %>
